<h1>Weather for: <%= location %></h1>

<h2><%= location %> (Lat:<%= latitude %> Long: <%= longitude %>)</h2>

<p>It is currently <%= temp.temperature %>F in <%= location %></p>


<h2>FORCAST: <%= location.toUpperCase()%></h2>
  <% for(let i = 0; i < 5; i++) { %>
	<div class="row">
	  <div class="column" >
	    <h2><%=moment.unix(data[i].time).format('dddd')%></h2>
	    <p class="weather"><%=data[i].icon.toUpperCase()%></p>
	    <h1 class="icon"><%=icons[data[i].icon]%></h1>
	    <p class="text">Weather Conditions: <br /> <%=data[i].summary%></p>
	    <p class="text"> Low:  <%= data[i].temperatureMin%></p>
	    <p class="text"> High:  <%= data[i].temperatureMax%></p>
	  </div>
	</div>
<% }%>

